<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>xyz.briantracy.vigilant</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/python3</string>
        <string>/Users/briantracy/Desktop/projects/vigilant/vigilant.py</string>
        <string>--checkpoint</string>
        <string>15</string>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/btracy.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/btracy.log</string>
    <key>StartInterval</key>
    <integer>900</integer>
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
